@exclaimer:registry=https://pkgs.dev.azure.com/exclaimerltd/b677b16d-bceb-42e2-b5b8-c198664edbd8/_packaging/exclaimer-ui-packages/npm/registry/
//pkgs.dev.azure.com/exclaimerltd/b677b16d-bceb-42e2-b5b8-c198664edbd8/_packaging/exclaimer-ui-packages/npm/registry/
always-auth=true